// ***********************************
// FONTS
// ***********************************

@font-face {
  font-family: 'AdelleSansRegular';
  src: url("http://www.worldpay.com/us/sites/all/themes/worldpay_subthemev2/fonts/AdelleSans-Thin.eot");
  src: url("http://www.worldpay.com/us/sites/all/themes/worldpay_subthemev2/fonts/AdelleSans-Thin.eot?#iefix") format("embedded-opentype"),url("http://www.worldpay.com/us/sites/all/themes/worldpay_subthemev2/fonts/AdelleSans-Thin.woff") format("woff"),url("http://www.worldpay.com/us/sites/all/themes/worldpay_subthemev2/fonts/AdelleSans-Thin.ttf") format("truetype"),url("http://www.worldpay.com/us/sites/all/themes/worldpay_subthemev2/fonts/AdelleSans-Thin.svg#AdelleSansRegular") format("svg");
  font-weight: 100;
  font-style: normal;
}