// ***********************************
// VARIABLES
// ***********************************

//Position
$position: relative;

// TYPOGRAPHY
$font: 'AdelleSansRegular', sans-serif;
$wp-font-weight-title: 700;
$wp-font-weight-body: 300;
$wp-font-style: normal;

//FONT SIZE
$main-text: 16px;
$site-headings: 20px; 

$h1: 2.5em;
$h2: 1.4em;
$h3: 1.4em;
$h4: 1.2em;
$h5: 1em;
$h6: .8em;


// FONT WEIGHT
$weight-font1: 100;
$weight-font2: 300;
$weight-font3: 500;


// LINE HEIGHT
$line-height-heading: 1em;
$line-height-breadcrumbs: 1.2em;
$line-height-thirdlevel: 15px;
$line-height-main-heading: 1.4em;
$line-height-main-text: 1.6em;

// ***********************************
// COLORS
// ***********************************

//Brandin Primary Colors
$worldpay-red: #f01e14;
$worldpay-grey: #919191;
$white: #fff;

//Branding Secondary Colors
$coral: #ff2e3a;
$rose: #ff5f7a;
$wine: #b41437;
$mango: #ffb900;
$purple: #69197d;
$emerald: #007867;
$black: #000;
$gun-metal: #393939;
$slate: #5a5a5a;
$smoke: #bebebe;
$mist: #dcdcdc;
$pale-grey: #ebebeb;

//Worldpay.com Colors

$wp-mainred: #f11e15;
$body-text: #333333;
$grey-breadcrumbs: #737373;
$grey-horizrule: #dcdcdc;
$grey-breadcrumb-sep: #bfbfbf;
$color-body-bg: #f7f7f7; 


$color-1: #007867;
$color-2: #f7f7f7;

$link_color: $color-1;
$link_hover: #007867;
$link-decoration: underline;

$button-color: $color-1;
$button-color-hover: $color-2;
$button-color-border: $button-color;



// Other
$default-border-radius: 20px;
